<div class="container">
  <h1 class="header">{{ symbol }}</h1>
  <div class="details-content">
    <div class="details-item" *ngFor="let item of items">
      <div *ngIf="item; else noItemData" class="details-item-info">
        <span
          ><b>{{ item.month | getmonthname }}</b></span
        >
        <span><b>Change:</b> {{ item.change }}</span>
        <span><b>MSPR:</b> {{ item.mspr }}</span>
      </div>
      <ng-template #noItemData><div>No data</div></ng-template>
      <div class="arrow-up" *ngIf="item.mspr > 0">&#8593;</div>
      <div class="arrow-zero" *ngIf="item.mspr === 0">&#8646;</div>
      <div class="arrow-down" *ngIf="item.mspr < 0">&#8595;</div>
    </div>
    <div *ngIf="!items || items.length === 0">
      <h3>No data</h3>
    </div>
  </div>
  <button class="back" id="backBtn" (click)="onBack()">
    &#8249; Back to list of stocks
  </button>
</div>
